.page {
    height: 100%;
    padding: 20px;
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
        border-bottom: 1px solid #eee;
        padding: 0.5rem 0;
        color: #333;
        margin: 1rem 0;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        margin: 10px 0;
    }
    code {
        border: 1px solid #ddd;
        background-color: #f5f5f5;
        margin: 0.5rem 0;
    }
    .render {
        border: 1px solid #ddd;
        width: 600px;
        height: 400px;
        margin: 10px 0;
    }
}